{{#graphics}}
	<div class="work work-{{id}}">
		<div class="banner" data-bg="img/{{id}}/banner.png"></div>
		<h1>{{title}}</h1>
    <figure>
      <figcaption class="info">{{{description}}}</figcaption>
      <img src="img/{{id}}/preview.png"/>
    </figure>
		{{#links.length}}
  		<div class="links">
  		{{#links}}
    			<a href="{{url}}"><button>{{label}}</button></a>
  		{{/links}}
  		</div>
		{{/links.length}}
	</div>
{{/graphics}}
