<ul class="social-links">
  <li class="social-link email">
    <a href="mailto://web@jacobpariseau.com"><img src="img/white-social-email.png" /></a>
  </li>
  <li class="social-link facebook">
    <a href="https://facebook.com/jacobpariseau"><img src="img/white-social-facebook.png" /></a>
  </li>
  <li class="social-link twitter">
    <a href="https://twitter.com/jacobpariseau"><img src="img/white-social-twitter.png" /></a>
  </li>
  <li class="social-link snapchat">
    <a href="https://snapchat.com/add/jacobpariseau"><img src="img/white-social-snapchat.png" /></a>
  </li>
  <li class="social-link github">
    <a href="https://github.com/jacobpariseau"><img src="img/white-social-github.png" /></a>
  </li>
</ul>
