<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Jacob Pariseau</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500">
        <link rel="stylesheet" href="css/base/normalize.min.css">
        <link rel="stylesheet" href="css/base/base.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <header>
        <img class="avatar" src="img/profile.png" />
        {{> ./partials/social}}
        <div class="info">
          <h1>Jacob Pariseau</h1>
          <h2>Hello, I am a journeyman welder and freelance web developer living in Grande&nbsp;Prairie, Alberta</h2>
        </div>
      </header>
      <main>
        <section class="card">
          <a href="https://firecup.ca/"><h2 class="red">Firecup</h2></a>
          <label>Description</label>
          <p>A party game you can play on your phone, laptop, or tablet in a room with all your friends. Draw challenge cards and punish the losers with elaborate drinking methods and persistent status effects.</p>
          <label>Technology</label>
          <p>Angular and Material Design on top of a MongoDB, Express, and Node.js stack with Socket.io to keep the players synchronised.</p>
        </section>
        <section class="card">
          <a href="http://magicfireball.com/"><h2 class="orange">Magic Fireball</h2></a>
          <label>Description</label>
          <p>The original One-Click Drinking Game -- shake the fireball and get a random rule or challenge</p>
          <label>Technology</label>
          <p>JQuery on a static HTML5 site with data stored on a JSON file</p>
        </section>
        <section class="card">
          <a href="http://firecup.ca:8080" rel="nofollow"><h2 class="cyan">Doctor Ink</h2></a>
          <label>Description</label>
          <p>A social pictionary-style sketch-guessing game with online multiplayer, chat, and a custom line-smoothing algorithm.</p>
          <label>Technology</label>
          <p>JQuery and HTML5 Canvas on a MongoDB, Express, Socket.io, and Node.js stack.</p>
        </section>
        <section class="card">
          <a href="https://github.com/jacobpariseau/carbon"><h2 class="grey">Carbon Static Site Generator</h2></a>
          <label>Description</label>
          <p>A simple gulp setup that compiles source templates and scripts into a static, minified, product.</p>
          <label>Technology</label>
          <p>Mustache, LESS, Gulp, Node.js</p>
        </section>
        <footer>
          <h2>For work or general inquiry, contact me at any time</h2>
          {{> ./partials/social}}
        </footer>
      </main>

      <!-- POST LOAD INCLUDES -->
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
