<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Jacob Pariseau</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500">
        <link rel="stylesheet" href="css/base/normalize.min.css">
        <link rel="stylesheet" href="css/base/base.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <header>
        <img class="avatar" src="img/profile.png" />
        {{> ./partials/social}}
        <div class="info">
          <h1>Jacob Pariseau</h1>
          <h2>Hello, I am a journeyman welder and freelance software developer / graphic designer living in Grande&nbsp;Prairie, Alberta</h2>
        </div>
      </header>

      <main class="content">

        <section class="portfolio">
          <h1>Game Projects</h1>
          {{#games}}
          <a href="#{{id}}">
            <figure class="preview">
              <img src="img/{{id}}/preview.png" />
              <figcaption>
                <h2>{{title}}</h2>
              </figcaption>
            </figure>
          </a>
          {{/games}}
        </section>

        <section class="portfolio">
          <h1>Graphic Projects</h1>
          {{#graphics}}
          <a href="#{{id}}">
            <figure class="preview">
              <img src="img/{{id}}/preview.png" />
              <figcaption>
                <h2>{{title}}</h2>
              </figcaption>
            </figure>
          </a>
          {{/graphics}}
        </section>

        <aside class="works">
          <div class="back">
            <a href="#">&lt; Portfolio</a>
          </div>
          {{> partials/game}}
          {{> partials/graphics}}
        </aside>
        <footer class="footer">
          <h2>For work or general inquiry, contact me at any time</h2>
          {{> ./partials/social}}
          <div>
            <p>All content created by Jacob Pariseau :: <a href="https://github.com/JacobPariseau/carbon-jacobpariseau">View Source</a></p>
          </div>
        </footer>

      </main>

      <!-- POST LOAD INCLUDES -->
        <script src="js/main.js"></script>
    </body>
</html>
