@red: #f44336;
@orange: #ef6c00;
@cyan: #2196f3;
@grey: rgb(30,33,36);;
@white: #fafafa;
html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

body, header, section, footer {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

header {
  text-align: center;
  overflow: hidden;
  background: black;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  @media only screen and (max-width : 899px) {
    width: 100%;
    height: 500px;
    position: relative;
    h1 {
      font-size: 10vw;
    }
  }
  @media only screen and (min-width : 900px) {
    width: 40%;
    height: 100vh;
    position: fixed;
    h1 {
      font-size: 5vw;
    }
  }
  .avatar {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    width: 100%;
    left: 0;
  }
  ul.social-links {
    position: absolute;
    width: 100%;
    max-width: 400px;
  }
  .info {
    position: absolute;
    bottom: 0;
    color: white;
    text-shadow: 0 0 40px black;
    width: 100%;
  }
}


.social-links {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    width: 20%;
    img {
      width: 100%;
      transform: scale(0.8);
      opacity: 0.9;
      transition: all 0.2s;
    }
    &:hover img {
      transform: scale(1);
      opacity: 1;
    }
  }
}

main {
  position: relative;
  @media only screen and (min-width : 900px) {
    width: 60%;
    margin-left: 40%;
  }
}

.portfolio {
  clear: both;
  padding: 1rem;
  h1 {
    font-size: 200%;
    padding: 1rem 0;
  }
}

.preview {
  height: 180px;
  float: left;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  border: 0.25rem solid @white;
  background-color: @grey;
  position: relative;
  box-sizing: border-box;
  img {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    opacity: 1;
    border: 1px solid @white;
    transform: translateY(-50%);
    transition: opacity 0.6s, transform 0.4s;
  }
  figcaption {
    font-size: 175%;
    line-height: 1.25;
    text-align: center;
    color: @white;
    padding: 0 1rem;
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity 0.6s, transform 0.4s;
  }
  &:hover {
    img {
      opacity: 0.4;
      transform: translateY(-55%) scale(1.2);
    }
    figcaption {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @media only screen and (max-width : 399px) {
    width: 100%;
  }
  @media only screen and (min-width: 400px) {
    width: 50%;
  }
}

aside.works {
  transform: translateX(100%);
  transition: transform 0.6s;
  position: absolute;
  background: #36393e;
  color: white;
  min-height: 100vh;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  .work {
    display: none;
    padding: 0 1rem;
    label {
      font-weight: bold;
    }
  }
  .back {
    font-size: 150%;
    line-height: 2;
    padding: 0 1rem;
    background: #554444;
    border-bottom: 1px solid rgba(255,128,128,0.1);
    a {
      color: white;
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .links {
    button {
      background: #ef6c00;
      border: none;
      padding: 0.5rem;
      border-radius: 0.25rem;
      color: rgba(255,255,255,0.8);
      font-weight: 500;
      text-transform: uppercase;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      cursor: pointer;
      &:hover {
        background: #f57c00;
      }
    }
  }
}

footer {
  text-align: center;
  padding: 2rem;
  background: @grey;
  color: white;
  float: left;
  box-sizing: border-box;
  width: 100%;
  @media only screen and (min-width : 900px) {
    .social-links {
      display: none;
    }
  }
}
.red {
  background: @red;
}

.orange {
  background: @orange;
}

.cyan {
  background: @cyan;
}

.green {
  background: #43a047;
}

.grey {
  background: @grey;
}
