@red: #f44336;
@orange: #ef6c00;
@cyan: #2196f3;
@grey: #212121;

html {
  overflow-x: hidden;
}

body {
  margin: 0;
}

header, section, footer {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

header {
  text-align: center;
  overflow: hidden;
  background: black;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  @media only screen and (max-width : 899px) {
    width: 100%;
    height: 500px;
    position: relative;
    h1 {
      font-size: 10vw;
    }
  }
  @media only screen and (min-width : 900px) {
    width: 50%;
    height: 100vh;
    position: fixed;
    h1 {
      font-size: 5vw;
    }
  }
  .avatar {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    width: 100%;
    left: 0;
  }
  ul.social-links {
    position: absolute;
    width: 100%;
    max-width: 400px;
  }
  .info {
    position: absolute;
    bottom: 0;
    color: white;
    text-shadow: 0 0 40px black;
    width: 100%;
  }
}


.social-links {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    width: 20%;
    img {
      width: 100%;
      transform: scale(0.8);
      opacity: 0.9;
      transition: all 0.2s;
    }
    &:hover img {
      transform: scale(1);
      opacity: 1;
    }
  }
}

main {
  position: relative;
  @media only screen and (min-width : 900px) {
    width: 50%;
    margin-left:50%;
  }
}
a.card {
  color: #252525;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

section {
  &.card {
    margin: 0 1rem 1rem 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-bottom: 1rem;
    transition: box-shadow 0.4s;
    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }
  &.thumbnail-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 1rem;
    width: 40%;
    display: inline-block;
    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    img {
      max-width: 100%;
    }
  }
  h2 {
    font-weight: normal;
    padding: 1rem;
    color: white;
  }
  label {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 2rem;
    opacity: 0.8;
  }
  p {
    margin-top: 0;
    padding-left: 3rem;
    padding-right: 1rem;
  }
}

footer {
  text-align: center;
  padding: 2rem;
  background: @grey;
  color: white;
  @media only screen and (min-width : 900px) {
    .social-links {
      display: none;
    }
  }
}
.red {
  background: @red;
}

.orange {
  background: @orange;
}

.cyan {
  background: @cyan;
}

.green {
  background: #43a047;
}

.grey {
  background: @grey;
}
